/* html { */
    /* height: 100%; */
/* } */

body {
    font-family: 'Share Tech Mono', monospace;
    /* width: 90%; */
    box-sizing: border-box;
    max-width: 70%;
    margin: 2rem auto;
}

.grid {
    width: 90%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

.all_notes {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* children */
.grid__toolbar {
    display: flex;
    border: 2px solid #1034A6;
    justify-content: center;
    
    grid-column-start: 1;
    grid-row-start: 1;
    
    grid-column-end: 4;
    grid-row-end: 1;
}

.grid__toolbar-add {
   padding: 1rem 4.5rem 0 2rem;
}

.grid__toolbar-filter {
   padding: 1rem 2rem 1rem 4.5rem;
} 


.note li,
.to-do li,
.quotes li,
.thoughts li,
.work li,
.writing li {    /*surrounding box got smaller here*/
    color: black;
    padding: 0.5rem;
    border: 2px solid black;
    list-style: none;
    text-align: center;
    font-size: 1rem;
}

   /* @media (min-width: 500px) {
        
            } */


